/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/

// -------------------------------------
//   Functions
// -------------------------------------


// -------------------------------------
//   Typography
// -------------------------------------
@mixin paragraph($fontFamily: $font-sans) {
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 22px;
  color: $c_text;
}


// -------------------------------------
//   Media queries
// -------------------------------------
@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}


// =============================================================================
// Prefixer
// =============================================================================

@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}


// =============================================================================
// Transform
// =============================================================================

@mixin transform($property: none) {
  @include prefixer(transform, $property, webkit moz ms o spec);
}
