//
// Key colors
//
$c_text: #333333;

$c_primary: #0061db;
$c_secondary: #c5c7ce;


// -------------------------------------
//   Fonts
// -------------------------------------
$font-sans: 'Roboto', sans-serif;
$base_lineHeight: normal;


$max-width: 1240px;

$transition: 0.5s ease-out;


// Breakpoints
$small-desktop: 1204px;
$tablet_landscape: 1024px;
$tablet: 1023px;
$mobile: 767px;
